@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    margin: 0;
    background-color: #1F3B50
}

.logo {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    height: 5rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    color: #15cdfc;
}

.nav li:hover {
    color: yellow;
}
/*-------------------------------*/
/*Data Comparison*/
/*-------------------------------*/
.dropdowns {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 5px;
}

.datacomparison {
    margin: 15px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 200;
}

.datacomparison hr {
    border: 0;
    margin: 10px -30px 20px;
    border-top: 1px solid white;
}
.dropdown1 {
    flex: 1.5; 
    font-size: 18px;
    margin: 15px;
    border-radius: 20px;
}

.dropdown2 {
    flex: 1.5;
    font-size: 18px;
    margin: 15px;
    border-radius: 12px;
}

.dropdown3 {
    flex: 1.5;
    font-size: 18px;
    margin:15px;
    border-radius: 12px;
}

.dropdown4 {
    flex: 1.5;
    font-size: 18px;
    margin: 15px;
    border-radius: 12px;
}

.datacomparison button  {
    background-color: #1CABCB;
    color: white; 
    text-align: center;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
}
/*-------------------------------*/
/*Home Landing Page*/
/*-------------------------------*/
.home {
    text-align: center;
    display: center; 
    color: white;
    font-size: 25px;
    height: 100%;
    padding: 90px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.home button {
    background-color: #DBA92A;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 35px;
    margin: 40px;
    font-weight: bold;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.descriptions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    font-size: 15px;
}

.description1 {
    align-items: center;
    font-size: 15px;
    margin: 5px;
    border-radius: 10px;
    padding: 30px;
   
}

.description2 {
     align-items: center;
    padding: 20px;
    font-size: 15px;
    margin: 5px;
    border-radius: 10px;
}

.data:hover{
    background-color: #1CABCB;
}

.stats:hover {
    background-color: #1CABCB;
}




