@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    margin: 0;
    background-color: #1F3B50
}

.logo {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    height: 5rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    color: #15cdfc;
}

.nav li:hover {
    color: yellow;
}
/*-------------------------------*/
/*Home Landing Page*/
/*-------------------------------*/
.home {
    text-align: center;
    display: center; 
    color: white;
    font-size: 25px;
    height: 100%;
    padding: 90px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.home button {
    background-color: #DBA92A;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 35px;
    margin: 40px;
    font-weight: bold;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.descriptions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    font-size: 15px;
}

.description1 {
    align-items: center;
    font-size: 15px;
    border-radius: 10px;
    padding: 0px;
   
}

.description2 {
    align-items: center;
    padding: 20px;
    font-size: 15px;
    margin: 5px;
    border-radius: 10px;
}

.data:hover{
    background-color: #1CABCB;
}

.stats:hover {
    background-color: #1CABCB;
}

/*-------------------------------*/
/*Scenario Statistics*/
/*-------------------------------*/
.scenariostats {
    margin: 1rem;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

.header {
    /* display: flex;
    flex-direction: row; */
    padding: 0;
    margin-top: 0.5rem;
}

.rectangle {
    display: inline-block;
    width: 100px;
    height: 100%;
    background-color: #DBA92A;
}

.group1 li{
    list-style: none;
    margin-top: 1rem;
    flex: 1rem; 
    font-size: 1.25rem;
    margin-left: 10rem;
    margin-right: 1rem;
    border-radius: 1rem;
    color: white;
}

.group2 li {
    list-style: none;
    margin-top: 1rem;
    flex: 1rem;
    font-size: 1.25rem;
    margin-left: 10rem;
    margin-right: 1rem;
    border-radius: 1rem;
    color: white;
}

.group3 li {
    list-style: none;
    margin-top: 1rem;
    flex: 1rem;
    font-size: 1.25rem;
    margin-left: 10rem;
    margin-right: 1rem;
    border-radius: 1rem;
    color: white;
}

.group4 li {
    list-style: none;
    margin-top: 1rem;
    flex: 1rem;
    font-size: 1.25rem;
    margin-left: 10rem;
    margin-right: 1rem;
    border-radius: 1rem;
    color: white;
}

.dropdowns {
    /* display: flex;
    flex-direction: row; */
    height: 100%;
    padding: 5px;
}

.drops{
    list-style: none;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1rem; 
}


.button {
    display: flex;
    background-color: #1CABCB;
    color: white; 
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
    border-radius: 1.5rem;
    margin: auto;
    margin-left: 10rem;
    margin-top: 2rem;
    align-items: center;
}

