@import "rsuite/dist/rsuite.css";
/*______________________________ */
/*_______Data_Comparison________ */
/*______________________________ */
.datacomp {
	margin: 1rem;
	color: white;
	text-align: center;
	font-size: 2rem;
	font-weight: bolder;
}

.config {
	margin: 0.5rem;
	color: white;
	text-align: center;
	font-size: 1rem;
	font-weight: 100;
}

.headers {
	display: flex;
	flex-direction: row;
	padding-left: 1rem;
	padding-right: 1rem;
}

.headers li {
	list-style: none;
	margin-top: 2rem;
	flex: 1rem;
	font-size: 1.25rem;
	margin-left: 1rem;
	margin-right: 1rem;
	border-radius: 1rem;
	color: white;
}

.dropdowns {
	display: flex;
	flex-direction: row;
	height: 100%;
	padding: 1rem;
}

.dropdowns li {
	list-style: none;
	flex: 1rem;
	font-size: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	border-radius: 1rem;
}

.button {
	display: flex;
	background-color: #1cabcb;
	color: white;
	text-align: center;
	font-size: 1.5rem;
	padding: 1rem;
	font-weight: bold;
	border-radius: 1.5rem;
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	align-items: center;
}

.graph_headers {
	display: none;
	text-align: center;
	font-size: 1.25rem;
	color: white;
}

.graph_dropdowns {
	list-style: none;
	display: none; /* will turn into block */
	/* text-align: center; */
	font-size: 1rem;
	padding: 1rem;
	margin-top: -0.5rem;
	margin-left: auto;
	margin-right: auto;
	width: 14rem;
	height: 100%;
}

.scatter {
	display: flex;
	margin: auto;
	align-items: center;
}

.histogram {
	display: flex;
	margin: auto;
	align-items: center;
}

.heatmap {
	display: flex;
	margin: auto;
	align-items: center;
}
